.bg-main {
    background: linear-gradient(93.29deg, #EBEBEB 16.77%, rgba(202, 199, 193, 0.84) 73.76%);
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .title {
        text-align: center;

        h1 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            margin-bottom: 8px;
            color: $dark-100;
        }

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            color: $dark-200;
        }
    }

    form {
        position: absolute;
        bottom: -33px;
        width: 100%;
        max-width: 693px;
        display: flex;
        justify-content: center;

        .input-cep {
            background: #FFFFFF;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
            border-radius: 24px;
            width: 100%;
            height: 70px;
            padding: 18px 50px;
            font-size: 26px;
            font-weight: 500;
            margin-inline: 10px;
        }

        .search {
            position: absolute;
            top: 6px;
            right: 19px;
            display: block;
            width: 81px;
            height: 58px;
            background: rgba(202, 199, 193, 0.5);
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background .5s ease;

            &:hover {
                background: rgba(139, 139, 137, 0.5);
            }
        }
    }

    @include responsive(880px) {
        .title {
            h1 {
                font-size: 40px;
                line-height: initial;
            }

            p {
                font-size: 28px;
            }
        }
    }

    @include responsive(430px) {
        .title {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 21px;
            }

        }

        form {
            .input-cep {
                font-size: 22px;
                padding-left: 35px;

                &::placeholder {
                    font-size: 20px;
                }
            }
        }
    }
}


.bg-loader {
    display: flex;
    justify-content: center;

    .card {
        border-radius: 8px;
        width: 821px;
        min-height: 344.9px;
        background: #4E4D4C;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
        margin-top: 92px;
        margin-bottom: 50px;
        border-radius: 8px;
        display: none;
        opacity: 0;
        gap: 30px;
        flex-direction: column;

        .top {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px 8px 0px 0px;
            min-height: 76px;
            background-color: $dark-100;
            color: white;
            font-weight: 500;
            font-size: 26px;
            line-height: 31px;
            gap: 36px;
        }

        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .form-cep {
                max-width: 340px;
                width: 100%;
                height: 180px;
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 30px;

                .input-get {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    label {
                        font-family: 'Roboto Condensed', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 23px;
                        color: #FFFFFF;
                    }

                    input {
                        background: rgba(235, 235, 235, 0.8);
                        border-radius: 8px;
                        font-size: 16px;
                        font-weight: 500;
                        padding: 10px 18px;
                        width: 100%;
                    }
                }

                .input-get:first-child {
                    grid-column: 1/-1;
                }
            }

            .mapa {
                background-image: url(/public/maps.png);
                background-size: cover;
                max-width: 362px;
                width: 100%;
                height: 186px;
                display: flex;
                border-radius: 8px;
                align-items: flex-end;
                justify-content: center;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 14px;
                    background: $primary;
                    border-radius: 11px;
                    padding: 10px 26px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #000000;
                    transition: all .7s ease;
                    margin-bottom: 20px;

                    &:hover {
                        transform: scale(1.05);
                        background-color: $primary-hover;
                    }
                }
            }
        }


    }

    [data-animation="fadeIn"] {
        display: flex;
        animation: fadeIn 1s ease forwards;
    }

    @include responsive(880px) {
        .card {
            padding-bottom: 40px;
            width: initial;

            .top {
                gap: 0px;

                p {
                    font-size: 18px;
                }

                svg {
                    position: relative;
                    top: 0px;
                    left: -17px;
                    width: 80px;

                    .seta1,
                    .seta2,
                    .seta4 {
                        display: none;
                    }
                }
            }

            .bottom {
                padding-inline: 20px;
                flex-direction: column;
            }
        }
    }

    @include responsive(390px) {
        .card {
            .top {
                svg {
                    left: -32px;
                }

                p:last-child {
                    margin-left: -29px;
                }
            }
        }
    }
}